@import url("http://fonts.cdnfonts.com/css/serious-rounded");

body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: "seriousr2b", sans-serif;
}

.absolute {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loading {
  padding: 20px;
  animation: right 2.5s infinite linear;
}

@keyframes right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.flex * {
  margin-right: 5px;
}

.flex span {
  color: aliceblue;
}

.column {
  flex-direction: column;
}

.scroll {
  padding: 20px;
  background-color: #222222;
  overflow-y: auto;
  height: 300px;
  width: 170px;
  border-radius: 15px;
  border: 2px dashed #646566;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #222222;
  border: 2px dashed #646566;
  cursor: pointer;
  color: #575454;
  border-radius: 15px;
}

.active {
  background-color: #aaaaaa;
  color: #636262;
}

input {
  border-radius: 15px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #222222;
  border: 2px dashed #646566;
  color: #bdbbbb;
}

h1,
h2,
h3,
h4,
h5,
label {
  color: #bdbbbb;
}

button:hover {
  color: #bdbbbb;
}
